.Home {
  padding-top: 4rem;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 4rem 2rem;
  width: 100%;
  flex-wrap: wrap;
  max-width: 150rem;

  &__content:first-of-type {
    flex: 1.5;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    flex-wrap: wrap;

    &__title {
      font-size: 2rem;
      font-size: clamp(1rem, calc(1.25rem + 1vw), 2rem);
      margin: 0 auto;
      text-transform: uppercase;
      letter-spacing: 1pt;
      padding: 1.5rem 2rem;
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 30rem) {
    flex-direction: column;
    flex-wrap: nowrap;

    &__content {
      min-width: auto;
    }
  }
}
