.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.about__link {
  color: var(--clr-primary);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.1);
  }
}
