.Contact {
  width: 100%;
  padding: 1rem;
  background: white;
  box-shadow: var(--box-shadow-wide);
  border-radius: 0 0 1rem 1rem;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200vw;
    height: 100%;
    background: #777;
    background-size: cover;
    z-index: -1;
    opacity: 0.25;
    clip-path: polygon(0% 0%, 100% 0, 100% 0%, 100% 100%);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      150deg,
      var(--clr-primary),
      var(--clr-primary-dark)
    );
    z-index: -1;
    opacity: 0.5;
  }
}
