.pagination {
  padding: 0 1rem;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span,
  a,
  svg,
  path {
    cursor: pointer;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.3rem);
    cursor: inherit;

    &__text {
      margin: 0 2rem;
    }

    &:hover {
      color: #0070f3;
      transform: scaleX(1.05);
      transition: transform 0.1s ease-out;
    }

    &.disabled {
      color: #777;
      transform: none;

      &:hover,
      span,
      svg,
      path {
        cursor: url("/assets/cursorIcon.svg"), auto;
      }
    }
  }

  @media (max-width: 30rem) {
    &__link {
      margin-top: 1rem;
      & > span {
        width: 4rem;
        height: 4rem;
      }
      &__text {
        display: none;
      }
    }
  }
}
