.about__link {
  color: var(--clr-primary);
  font-weight: bold;
  text-transform: uppercase;
}

.map {
  position: relative;
}

.map__large {
  border-radius: 1rem;
  box-shadow: 0 0 2px 1px var(--clr-grey);
}
.map__small {
  position: absolute;
  top: -2rem;
  right: -2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px var(--clr-primary);

}
