.article {
  flex: 1;
  // border: 1px solid red;
  & > * + * {
    margin-top: 1rem;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
  }

  & p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}
