@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;700;800&family=Cinzel:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Blinker", sans-serif;
  border: none;
  outline: none;
  background: none;
  cursor: url("/assets/cursorIcon.svg"), auto;
}

:root {
  --clr-primary: #3f51b5;
  --clr-primary-light: #757de8;
  --clr-primary-dark: #002984;
  --clr-primary-25: rgba(63, 81, 181, 0.25);
  --clr-grey: #bdbdbd;
  --clr-grey-light: #efefef;
  --clr-grey-dark: #8d8d8d;
  --box-shadow-wide: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --box-shadow-short: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
button {
  cursor: pointer;
}

button {
  text-transform: uppercase;
}

textarea {
  resize: none;
}

.title {
  width: 100%;
  text-align: center;
  font-size: clamp(2rem, calc(3rem + 1vw), 4rem);
  line-height: 1.15;
  word-wrap: break-word;

  @media (max-width: 42rem) {
    font-size: clamp(1rem, calc(2rem + 1vw), 3rem);
  }
}

.bg-gradient {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      150deg,
      var(--clr-primary),
      var(--clr-primary-dark)
    );
    z-index: -1;
    opacity: 0.75;
  }
}

.bg-gradient-img {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    opacity: 0.25;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      150deg,
      var(--clr-primary),
      var(--clr-primary-dark)
    );
    background-size: cover;
    z-index: -1;
    opacity: 0.75;
  }
}

.alt-font {
  font-family: "Cinzel", serif;
}

.white {
  color: white;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
  font-weight: bold;
  text-transform: uppercase;

  @media (max-width: 42rem) {
    font-size: clamp(1rem, calc(1rem + 1vw), 1.25rem);
  }
}

.text {
  font-size: clamp(0.9rem, calc(0.9rem + 1vw), 1.1rem);
  font-size: 1.1rem;
  letter-spacing: 0.5pt;
  line-height: 1.6;

  @media (max-width: 42rem) {
    font-size: clamp(0.9rem, calc(0.9rem + 1vw), 1rem);
  }
}

.spacing {
  & > * {
    margin: 2rem 0;
  }
}

.grid {
  padding: 0 1rem;
  width: 100%;
  max-width: 42rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.icon {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
}

.card {
  margin: 1rem 0;
  padding: 2rem 3rem;
  position: relative;
  box-shadow: var(--box-shadow-short);
  border-radius: 0.5rem;
  transition: transform 0.2s ease;

  &:hover:before {
    box-shadow: var(--clr-primary) 0px 20px 30px -10px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.5rem;
    z-index: -1;
    box-shadow: 0 20px 20px -15px var(--clr-primary);
    transition: box-shadow 0.2s ease;
  }
  &:after {
    content: "";
    position: absolute;
    top: 1.25rem;
    left: 1.75rem;
    width: 0.25rem;
    height: 60%;
    background: var(--clr-primary);
  }

  & > * + * {
    margin-top: 0.5rem;
  }
}

.btn-primary {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--clr-primary);
  box-shadow: var(--box-shadow-short);
  color: white;
  letter-spacing: 0.5pt;
  transition: transform 0.2s ease;

  > * {
    color: white;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.btn-text {
  margin: 0 auto;
  color: var(--clr-primary);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.1);
  }
}
