.articles {
  flex: 1;

  &__article {
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

    & > * + * {
      margin-top: 1rem;
    }

    &__title {
      text-transform: capitalize;
    }

    &__link {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      color: #444;
      border: 1px solid #eaeaea;
      border-radius: 0.25rem;
      text-transform: uppercase;
      font-weight: bold;
      transition: color 0.15s ease, border-color 0.15s ease;

      &:hover {
        color: #0070f3;
        border-color: #0070f3;
      }
    }
  }
}
